<!--Footer-->
<footer>
        <div class="containter">
            <div class="footer-content">
                <div class="footer-section">
                    <div class="logo">
                        <i class="fas fa-camera-retro"></i>
                        <h1>Image Search</h1>
                    </div>
                    <p>Nền tảng tìm kiếm ảnh dựa trên nội dung</p>
                    <div class="social-links">
                        <a href="https://www.kaggle.com/datasets/nguyenhuann/vietnamese-food-image-dataset"><i class="fab fa-kaggle"></i></a>
                        <a href="https://github.com/NguyenHuann/vn_food_search_image"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            
                <div class="footer-section">
                    <h4>Sản phẩm</h4>
                    <ul>
                        <li><a href="#">UI</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>Nhóm</h4>
                    <ul>
                        <li><a href="#">Thành viên nhóm: </a></li>
                        <p>Nguyễn Tiến Huân</p> 
                        <p>Nguyễn Việt Hoàng</p>    
                        <p>Lê Tiến Quân</p>   
                        <p>Nguyễn Thúy Hiền</p>    
                        <p>Phạm Ngọc Thành</p>    
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2025 Image_Search. Made with <i class="fas fa-heart"></i> by my group</p>
                </div>
            </div>
        </div>
    </footer>