<!--Footer-->
<footer>
        <div class="containter">
            <div class="footer-content">
                <div class="footer-section">
                    <div class="logo">
                        <i class="fas fa-camera-retro"></i>
                        <h1>Image Search</h1>
                    </div>
                    <p>Nền tảng tìm kiếm ảnh dựa trên nội dung</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.facebook.com/nguyen.viet.hoang.495906"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/NguyenHuann/vn_food_search_image?fbclid=IwY2xjawNDhU5leHRuA2FlbQIxMABicmlkETFCbEJmNktwWGxEVUpTOE1RAR56UsOy4vCCKBflMkEkIe9sGXtuzkWCqih8mZ9T2sRDyaAcRbXDiVabUmHWdg_aem_hYsUogfh9Zcj8VLr4Fh9Og"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            
                <div class="footer-section">
                    <h4>Sản phẩm</h4>
                    <ul>
                        <li><a href="#">UI</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>Nhóm</h4>
                    <ul>
                        <li><a href="#">Thành viên</a></li>
                        <p>Nhóm bao gồm các thành viên: Nguyễn Tiến Huân,Nguyễn Việt Hoàng, Lê Tiến Quân, Nguyễn Thúy Hiền, Phạm Ngọc Thành</p>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2025 Image_Search. Made with <i class="fas fa-heart"></i> by my group</p>
                </div>
            </div>
        </div>
    </footer>